<h1>Bank Accounts</h1>

<p *ngIf="!bankAccounts"><em>Loading...</em></p>

<table class='table table-striped table-sm' *ngIf="bankAccounts">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bankAccount of bankAccounts">
            <td>{{ bankAccount.id }}</td>
            <td>{{ bankAccount.name }}</td>
            <td><pre>{{ bankAccount | json }}</pre></td>
        </tr>
    </tbody>
</table>
